{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": "> 1%",
        "node": 12
      }
    }], "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}